li.dev-item {
  background-color: #fff;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.dev-item * {
  overflow: hidden;
  text-overflow: ellipsis;
}

li.dev-item header {
  display: flex;
  align-items: center;
}

li.dev-item header img {
  height: 54px;
  width: 54px;
  overflow: visible;
  border-radius: 27px;
}

.user-info {
  margin-left: 10px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
  flex: 1;
}

li.dev-item footer {
  display: flex;
  justify-content: flex-start;
  /* margin: auto 0 0; */
}

li.dev-item a {
  color: #7d40e7;
  font-size: 14px;
  text-decoration-line: none;
}

li.dev-item a:hover,
li.dev-item a:focus {
  color: #6931ca;
  text-decoration-line: underline;
}
